.section{

    padding:100px 8%;

}

.section-title{

    font-size:var(--section-title);

    color:var(--text);

    margin-bottom:24px;

}

.section-subtitle{

    color:var(--muted);

    font-size:18px;

    max-width:700px;

    margin:auto;

    line-height:1.8;

}